<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>
    .input-box {
      width: 100%;
    }
  </style>
</head>

<body>
  <div class="container">
    <ng-template [ngIf]="!submitted && title_form">
      <h1 class="header text-center mb-4">{{title_form}}</h1>
    </ng-template>
      <ng-template [ngIf]="submitted">
        <h1 class="header text-center mb-4">{{submit_form}}</h1>
      </ng-template>
      <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="OnSubmit()" novalidate>
        <div class="alert alert-danger" *ngIf="errorMsg">
          {{errorMsg}}
        </div>

    <div class="form-group row">
      <div class="col-sm-4">
        <label for="firstname" class="col-form-label">FIRST NAME</label>
        <input type="text" required #fname="ngModel" [class.is-invalid]="fname.invalid && fname.touched" class="form-control input-box" name="firstname" [(ngModel)]="userModel.firstname">
        <small class="text-danger" [class.d-none]="fname.valid || fname.untouched">This field is Required</small>
      </div>
      <div class="col-sm-4">
        <label for="middlename" class="col-form-label">MIDDLE NAME</label>
        <input type="text" required #mname="ngModel" [class.is-invalid]="mname.invalid && mname.touched" class="form-control input-box" name="middlename" [(ngModel)]="userModel.middlename">
        <small class="text-danger" [class.d-none]="mname.valid || mname.untouched">This field is Required</small>
      </div>
      <div class="col-sm-4">
        <label for="lastname" class="col-form-label">LAST NAME</label>
        <input type="text" required #lname="ngModel" [class.is-invalid]="lname.invalid && lname.touched" class="form-control input-box" name="lastname" [(ngModel)]="userModel.lastname">
        <small class="text-danger" [class.d-none]="lname.valid || lname.untouched">This field is Required</small>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-4">
        <label for="gender" class="col-form-label">GENDER</label>
        <select class="custom-select" style="margin-left: 15px;" name="gender" [(ngModel)]="userModel.gender">
          <option *ngFor="let topic of gender">{{ topic }}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="email" class="col-form-label">EMAIL ID</label>
        <input type="email" name="email" required #email="ngModel" [class.is-invalid]="email.invalid && email.touched" class="form-control input-box" [(ngModel)]="userModel.email">
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">This field is Required</small>
      </div>
      <div class="col-sm-4">
        <label for="phone" class="col-form-label">PHONE</label>
        <input type="tel" required #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched" class="form-control input-box" name="phone" [(ngModel)]="userModel.phone">
        <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">This field is Required</small>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-4">
        <label for="state" class="col-form-label">STATE</label>
        <input type="text" required #state="ngModel" [class.is-invalid]="state.invalid && state.touched" class="form-control input-box" name="state" [(ngModel)]="userModel.state">
        <small class="text-danger" [class.d-none]="state.valid || state.untouched">This field is Required</small>
      </div>
      <div class="col-sm-4">
        <label for="district" class="col-form-label">DISTRICT</label>
        <input type="text" required #district="ngModel" [class.is-invalid]="district.invalid && district.touched" class="form-control input-box" name="district" [(ngModel)]="userModel.district">
        <small class="text-danger" [class.d-none]="district.valid || district.untouched">This field is Required</small>
      </div>
      <div class="col-sm-4">
        <label for="zipcode" class="col-form-label">ZIP CODE</label>
        <input type="text" required #zipcode="ngModel" [class.is-invalid]="zipcode.invalid && zipcode.touched" class="form-control input-box" name="zipcode" [(ngModel)]="userModel.zipcode">
        <small class="text-danger" [class.d-none]="zipcode.valid || zipcode.untouched">This field is Required</small>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-4">
        <label for="topic" class="col-form-label">SELECT TOPIC</label>
        <select class="custom-select" style="margin-left: 15px;" name="topic" [(ngModel)]="userModel.topic">
          <option *ngFor="let topic of topics">{{ topic }}</option>
        </select>
      </div>
      <div class="col-sm-8">
        <label class="col-form-label">SELECT BATCH</label>
        <div class="form-check">
          <input class="form-check-input" required [(ngModel)]="userModel.timePreference" type="radio" name="timePreference" value="morning">
          <label class="form-check-label">Morning Batch (6 AM - 9 AM)</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" [(ngModel)]="userModel.timePreference" type="radio" name="timePreference" value="evening">
          <label class="form-check-label">Evening Batch (6PM - 9PM)</label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <button [disabled]="userForm.form.invalid" type="button" (click)="OnSubmit()" class="btn btn-primary">Submit</button>
        <button type="button" (click)="OnCancel()" class="btn btn-secondary ml-2">Cancel</button>
      </div>
    </div>

  </form>
</div>
</body>
</html>
