.header{
    text-align: center;
}

.label{
    display: inline-block;
    width: 100px; /* Adjust the width as needed */
    font-weight: bold;
}

.topic{
    width: auto;
}

.input-box{
    margin-left:15px;
}


.width_right{
   margin-right: auto;

}

